In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.1.1'

In [5]:
df = pd.read_csv('yellow_tripdata_2020-07.csv', nrows= 100)

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-07-01 00:25:32,2020-07-01 00:33:39,1,1.50,1,N,238,75,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1,2020-07-01 00:03:19,2020-07-01 00:25:43,1,9.50,1,N,138,216,1,26.5,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2,2020-07-01 00:15:11,2020-07-01 00:29:24,1,5.85,1,N,230,88,2,18.5,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2,2020-07-01 00:30:49,2020-07-01 00:38:26,1,1.90,1,N,88,232,1,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2,2020-07-01 00:31:26,2020-07-01 00:38:02,1,1.25,1,N,37,17,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2020-07-01 00:46:44,2020-07-01 01:05:20,1,4.10,1,N,90,238,1,17.0,3.0,0.5,4.15,0.0,0.3,24.95,2.5
96,1,2020-07-01 00:08:43,2020-07-01 00:33:43,1,5.70,1,N,186,217,2,21.5,3.0,0.5,0.00,0.0,0.3,25.30,2.5
97,2,2020-07-01 00:15:37,2020-07-01 00:34:29,1,14.19,1,N,132,7,1,38.5,0.5,0.5,7.96,0.0,0.3,47.76,0.0
98,2,2020-07-01 00:38:02,2020-07-01 00:49:24,1,2.47,1,N,7,145,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,0.0
99,2,2020-07-01 00:15:10,2020-07-01 00:17:55,1,0.88,1,N,141,229,1,4.5,0.5,0.5,0.50,0.0,0.3,8.80,2.5

In [16]:
from sqlalchemy import create_engine

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
engine = create_engine('postgresql://postgres:postgres@localhost:5431/ny_taxi')

In [18]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df_iter = pd.read_csv('yellow_tripdata_2020-07.csv', iterator=True, chunksize=100000)

In [25]:
df_iter

In [26]:
df = next(df_iter)

In [27]:
len(df)

100000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [29]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-07-01 00:25:32,2020-07-01 00:33:39,1,1.50,1,N,238,75,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1,2020-07-01 00:03:19,2020-07-01 00:25:43,1,9.50,1,N,138,216,1,26.5,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2,2020-07-01 00:15:11,2020-07-01 00:29:24,1,5.85,1,N,230,88,2,18.5,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2,2020-07-01 00:30:49,2020-07-01 00:38:26,1,1.90,1,N,88,232,1,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2,2020-07-01 00:31:26,2020-07-01 00:38:02,1,1.25,1,N,37,17,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0

In [30]:
df.head(n=0).to_sql('yellow_taxi_data',con=engine,if_exists ='replace')

0

In [32]:
%time df.to_sql('yellow_taxi_data',con=engine,if_exists ='append')

CPU times: user 7.79 s, sys: 262 ms, total: 8.05 s
Wall time: 25.5 s

1000

In [35]:
from time import time

In [37]:
while True:

    t_start =time()

    df= next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql('yellow_taxi_data',con=engine,if_exists ='append')

    t_end=time()

    print('insterted another chunk..., tool %.3f seconds'% (t_end -  t_start))

insterted another chunk..., tool 28.159 seconds
insterted another chunk..., tool 28.576 seconds
insterted another chunk..., tool 76.448 seconds
insterted another chunk..., tool 54.782 seconds
insterted another chunk..., tool 36.582 seconds
insterted another chunk..., tool 69.485 seconds

/var/folders/8g/88nj_vhs3sq3bkdyb7my_2t80000gn/T/ipykernel_57591/3329231722.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df= next(df_iter)

insterted another chunk..., tool 95.128 seconds
insterted another chunk..., tool 0.580 seconds

StopIteration: